:root {
    --color-primary: #1a73e8;
    --color-on-primary: #FFF;
    --color-primary-container: #000;
    --on-primary-container: #000;

    --color-secondary: #000;
    --color-on-secondary: #000;
    --color-secondary-container: #000;
    --on-secondary-container: #000;

    --color-tertiary: #000;
    --color-on-tertiary: #000;
    --color-tertiary-container: #000;
    --on-tertiary-container: #000;

    --color-error: #B3261E;
    --color-on-error: #FFFFFF;
    --color-error-container: #F9DEDC;
    --on-error-container: #370B1E;

    --color-background: #FFF;
    --color-on-background: #1C1B1F;
    --color-surface: #FFF;
    --color-on-surface: #1C1B1F;

    --color-surface-variant: #F2F2F2;
    --color-on-surface-variant: #49454E;
    --color-outline: #79747E;

    --state-hover-state-layer-opacity: rgba(0,0,0,.08);
    --state-focus-state-layer-opacity: rgba(0,0,0,.12);
    --state-pressed-state-layer-opacity: rgba(0,0,0,.12);
    --state-dragged-state-layer-opacity: rgba(0,0,0,.16);

    --test-hsl-hue: 190;
    --test-hsl-saturation: 50%;

    --test-hsl-bg1: hsl(var(--test-hsl-hue) var(--test-hsl-saturation) 99%);
    --test-hsl-bg2: hsl(var(--test-hsl-hue) var(--test-hsl-saturation) 95%);
    --test-hsl-bg3: hsl(var(--test-hsl-hue) var(--test-hsl-saturation) 90%);
    --test-hsl-bg4: hsl(var(--test-hsl-hue) var(--test-hsl-saturation) 70%);
    --test-hsl-bg5: hsl(var(--test-hsl-hue) var(--test-hsl-saturation) 40%);

}

@media (prefers-color-scheme: dark) {
    /* CSS Code wenn Dark Mode aktiv */
}

/* MAIN */
html,body{
    font-family: 'Roboto', sans-serif;
    background: var(--color-background);
}

/* GRID */
.container,
.container-fluid{
    padding: 0 8px;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}
.row>div{
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}
.row{
    margin: 0 -8px;
    padding: 0 4px;
}
.col,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding: 0 4px;
}

/* ICONS */
.material-symbols-sharp{
    line-height: inherit;
    vertical-align: top;
    font-size: 18px;
}

/* Level */
.elevated,
.btn.elevated,
.card.card-elevated,
.btn.btn-primary:hover,
.btn.btn-secondary:hover{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}
.elevated:hover,
.btn.elevated:hover,
.card.card-elevated:hover{
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 14%), 0 6px 2px -4px rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* Buttons */
.btn{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: inherit;
    font-size: 1rem;
    padding: 0 16px;
    border: none;
    border-radius: 32px;
    line-height: 40px;
    cursor: pointer;
    vertical-align: middle;
    min-width: 96px;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}


.btn.filled:hover,
.filled-tonal:hover{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn.filled{
    color: #FFFFFF;
    background: #1a73e8;
}
.btn.filled:hover,
.btn.filled:focus{
    background: #015fcc;
}

.btn.filled-tonal{
    background: var(--test-hsl-bg4);
}
.btn.filled-tonal:hover,
.btn.filled-tonal:focus{
    background: #d2e3fc;
}


.btn.outlined{
    outline: 1px solid rgba(0,0,0,0.12);
}
.btn.disabled{
    box-shadow: none;
    background: rgba(0,0,0,0.08);
    color: inherit;
}
.btn.fab{
    background: transparent;
    border-radius: 16px;
    line-height: 56px;
    min-width: 56px;
}
.btn.fab.round.small{
    padding: 0;
    border-radius: 20px;
    line-height: 40px;
    min-width: 40px;
}
.btn.fab.round.small:hover,
.btn.fab.fab-menu:hover{
    background: rgba(0,0,0,0.08);
    border-radius: 16px;
}
.btn.fab.fab-menu{
    border-radius: 28px;
}
.btn.fab.fab-menu.active{
    background: rgba(0,0,0,0.08);
}
.btn.fab>span{
    font-size: 24px;
}

.btn:hover{
    box-shadow: inset 0 0 0 100vmax var(--state-hover-state-layer-opacity);
}
.btn:focus{
    box-shadow: inset 0 0 0 100vmax var(--state-pressed-state-layer-opacity);
}
/* Forms */
.form-container{
    position: relative;
}
.form-container > .support-text{
    font-size: 12px;
    padding: 4px 16px;
}
.form-container > .append{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 16px 0 12px;
    line-height: 56px;
}
.form-control{
    background: var(--state-hover-state-layer-opacity);
    border: 0;
    padding: 0 16px;
    height: 56px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.6);
}
.form-control::placeholder{
    color: transparent;
}
.form-control:hover:not(:focus){
    box-shadow: inset 0 0 0 100vmax var(--state-hover-state-layer-opacity);
}
.form-control:focus,
.form-control:not(:placeholder-shown){
    background: rgba(0,0,0,0.08);
    border-width: 2px;
    box-shadow: none;
    padding: 32px 16px 16px;
    border-bottom-color: var(--test-hsl-bg5);
}
.form-container > .material-symbols-sharp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 24px;
    padding: 0 16px 0 12px;
    line-height: 56px;
}
.form-container > .form-control~.material-symbols-sharp{
    background: #1a73e8;
}
.form-container > label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    pointer-events: none;
}
.form-control:focus~label,
.form-control:not(:placeholder-shown)~label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: inherit;
    padding: 8px 16px;
    font-size: 12px;
    -webkit-transition: .25s ease;
    transition: .25s ease;
    color: var(--test-hsl-bg5);
}
.form-container > .form-control:nth-child(2),
.form-container > label:nth-child(3){
    padding-left: 52px;
}

/* Cards */
.card{
    border-radius: 12px;
    border: 0;
    margin-bottom: 8px;
    -webkit-transition: .15s ease;
    transition: .15s ease;
}
.card > .card-body{
    padding: 16px;
}
.card .card-title,
.card .card-subtitle{
    margin: 0 0 4px;
}
.card .card-subtitle{
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}
.card .card-text{
    font-size: 14px;
}
.card .card-action{

}
.card hr{
    margin: 0;
}
.card.card-filled{
    background: var(--test-hsl-bg3);
}
.card.card-outlined{
    border-color: rgba(0,0,0,0.6);;
}
.card:hover{
    border-radius: 8px;
}
.card .card-link{
    line-height: 40px;
}

/* Dropdown */
.dropdown{
    display: inline-block;
}

/* modal */
.modal-content{
    border-radius: 28px;
    border: none;
}
.modal-header{
    padding: 24px 24px 8px 24px;
    border: none;
}
.modal-body{
    padding: 8px 24px 8px 24px;
}
.modal-footer{
    padding: 16px 24px 24px 24px;
    border: none;
}

/* Progress */

.bar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:4px;
    overflow:hidden;
    z-index: 10000;
}
.bar div:before {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    background:var(--test-hsl-bg4);
    animation:box-1 2100ms cubic-bezier(0.65,0.81,0.73,0.4) infinite;
}
.bar div:after {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    background:var(--test-hsl-bg2);
    animation:box-2 2100ms cubic-bezier(0.16,0.84,0.44,1) infinite;
    animation-delay:1150ms;
}
@keyframes box-1 {
    0% {
        left:-35%;
        right:100%;
    }
    60%,100% {
        left:100%;
        right:-90%;
    }
}
@keyframes box-2 {
    0% {
        left:-200%;
        right:100%;
    }
    60%,100% {
        left:107%;
        right:-8%;
    }
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}
