:root{
    --primary-color-40 : rgb(103, 80, 164);
    --primary-color-50 : rgb(127, 103, 190);
    --primary-color-60 : rgb(154, 130, 219);
    --primary-color-70 : rgb(182, 157, 248);
    --primary-color-80 : rgb(208, 188, 255);
    --primary-color-90 : rgb(234, 221, 255);
    --primary-color-95 : rgb(246, 237, 255);

    --primary-color-layer-1 : #232323;

    --secondary-color-40: rgb(98, 91, 113);
    --secondary-color-50: rgb(122, 114, 137);
    --secondary-color-60: rgb(149, 141, 165);
    --secondary-color-70: rgb(176, 167, 192);
    --secondary-color-80: rgb(204, 194, 220);
    --secondary-color-90: rgb(232, 222, 248);
    --secondary-color-95: rgb(246, 237, 255);
    --secondary-color-99: rgb(255, 251, 254);

    --tertiary-color-40: rgb(125, 82, 96);
    --tertiary-color-80: rgb(239, 184, 200);
    --tertiary-color-90: rgb(255, 216, 228);
    --tertiary-color-95: rgb(255, 236, 241);

}

html,body{
    height: 100%;
    width: 100%;
}
.container{
    transition: .5s ease all;

}
h1{
    font-weight: 400;
}
@media (min-width: 1600px) {
    .container{max-width: 1560px}
}
@media (min-width: 1920px) {
    .container{max-width: 1880px}
}
/* ICONS */
.material-symbols-sharp{
    line-height: inherit;
    vertical-align: top;
    font-size: inherit;
    overflow: hidden;
}

/* Buttons */
.btn{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: inherit;
    font-size: 14px;
    padding: 0 24px;
    border: none;
    border-radius: 32px;
    line-height: 40px;
    cursor: pointer;
    vertical-align: middle;
    min-width: 96px;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}
.btn.primary-color{
    background: var(--primary-color-40);
    color: #FFF;
}
.btn.primary-color:hover{
    background: var(--primary-color-50);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.btn.secondary-color{
    background: var(--secondary-color-40);
    color: #FFF;
}
.btn.secondary-color:hover{
    background: var(--secondary-color-50);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.btn.fab{
    padding: 0 16px;
    background: transparent;
    border-radius: 16px;
    line-height: 56px;
    min-width: 56px;
}
.btn.fab.round.small{
    padding: 0;
    border-radius: 20px;
    line-height: 40px;
    min-width: 40px;
}
.btn.fab.round.small:hover,
.btn.fab.fab-menu:hover{
    background: var(--tertiary-color-95);
    border-radius: 16px;
}
.btn.fab.fab-menu:hover .material-symbols-sharp{
    font-weight: 600;
}
.btn.fab.fab-menu{
    border-radius: 28px;
}
.btn.fab.fab-menu.active{
    background: var(--tertiary-color-90);
}
.btn.fab>span{
    font-size: 24px;
}

/* Card */

.card,.nocard{
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: inherit !important;
}
.card:hover{
    z-index: 100;
}
.nocard{
    cursor: default;
    padding: 24px;
}
.card:hover > .card-content{
    background-position: -10% 0;
}
.card:hover .material-symbols-sharp{
    transform: rotate(180deg);
    font-weight: 800;
}

.card:before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: .55s ease all;
}
.card:not(.card-nonactive):hover:before{
    transition: .25s ease all; /* IE10+ and Future Browsers */
    transform: scale(1.08,1.03);
    background: var(--primary-color-90);
    border-radius: 16px;
    opacity: 1;
}
.card:active:before,
.card:focus:before{
    background: var(--primary-color-80) !important;
    border-radius: 32px !important;
    transform: scale(1.04,1.0) !important;
}
.card .card-title{
    font-weight: 400;
}
.card-content{
    background: radial-gradient(
            rgba(0,0,0,0.2) 8%,
            transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: 100%;
    width: 100%;
    padding: 24px;
    transition: background-position .35s ease;
    position: relative;
    z-index: 2;
    color: inherit;
}

.card-subtitle{
    opacity: 0;
    transition: .25s ease all;
    -webkit-transform: translateY(32px);
    color: #666666;
}
.card:hover .card-subtitle{
    opacity: 1;
    -webkit-transform: translateY(0)
}

@keyframes fadein {
    0% {-webkit-transform: translateY(32px);opacity: 0}
    100% {-webkit-transform: translateX(0);opacity:1}
}

/* animation */
@keyframes zoomin-animation {
    0% {-webkit-transform: translate3d(0,8px,0);;opacity: 0}
    100% {-webkit-transform: translate3d(0,0,0);opacity:1}
}

.popin{
    animation: 0.25s ease 0s forwards 1 zoomin-animation;
    opacity: 0;
}

/*vforms*/
.form-container{
    position: relative;
    display: flex;
}
.form-control,
.form-select{
    background: rgba(0,0,0,0.08);
    cursor: pointer;
    border: none;
    line-height: 24px;
    border-radius: 4px 4px 0 0;
    padding: 16px 16px;
    transition: .25s ease all;

}
.form-container > .material-symbols-sharp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 24px;
    padding: 0 16px 0 12px;
    line-height: 56px;
}
.form-control:focus,
.form-control:not(:placeholder-shown),
.form-select:focus{
    background: rgba(0,0,0,0.08);
    box-shadow: none;

}
.form-select:hover:not(:focus),
.form-control:hover:not(:focus){
    background: rgba(0,0,0,0.12);

}
.form-container > .append{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 16px 0 12px;
    line-height: 56px;
}
.form-container > .form-control:nth-child(2),
.form-container > label:nth-child(3){
    padding-left: 52px;
}

/* modal */
.modal-content{
    border-radius: 28px;
    border: none;
    box-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64;

}
.modal-header{
    padding: 24px 24px 8px 24px;
    border: none;
}
.modal-body{
    padding: 8px 24px 8px 24px;
}
.modal-footer{
    padding: 16px 24px 24px 24px;
    border: none;
}
.modal .btn{
    color: var(--tertiary-color-40);
    font-weight: 600;
}
.modal .btn:hover{
    background: var(--tertiary-color-90);
    color: inherit;
}
.modal-backdrop{
    background: rgba(101,108,133);
    --bs-backdrop-opacity: 0.8;
}

.fade {
    transition: none;
}

.modal.show .modal-dialog {
    transform: translate(0,-8px) !important;
}