<style>
    .items{
        padding: 12px;
        border-radius: 12px;
        background: var(--tertiary-color-95);
        cursor: pointer;
        transition: .25s ease all; /* IE10+ and Future Browsers */
    }

    .items:hover{
        background: var(--tertiary-color-90);
        transform: scale(1.02);
    }
    .items > .title{
        font-size: 1.2rem;
    }
    .items > .text{
        display: none;
        color: #5f6368;
    }
    .items:hover > .text{
        display: block;
    }
    .cardtimeselect{
        border-radius: 12px;
        border: 1px solid var(--tertiary-color-80);
    }
</style>

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col" style="padding-top: 30px; padding-bottom: 30px">

            <div class="row">
                <div class="col popin" style="animation-delay: 0.06s">
                    <div>Satander Wealth</div>
                    <p style="font-size: 1.4rem">{{ sWealth | currency:"EUR":0 }}</p>
                    <ul>
                        <li ng-repeat="i in testaccounts">
                            <input class="form-check-input" type="checkbox" value="" ng-show="plans.title">
                            <span>{{i.Title}}</span>
                            <span>({{i.amount | currency:"EUR":0}})</span>
                        </li>
                    </ul>
                </div>

                <div class="col popin" style="animation-delay: 0.12s">
                    <div><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Weitere Vermögenswerte</a></div>
                    <p style="font-size: 1.4rem">{{ 0 | currency:"EUR":0 }}</p>
                    <ul>
                        <li>Keine</li>
                    </ul>
                </div>

                <div class="col popin" style="animation-delay: 0.18s">
                    <p>Vermögensverteilung</p>
                    <ul>
                        <li>Keine</li>
                    </ul>
                </div>

                <div class="col popin" style="animation-delay: 0.24s">
                    <p>Lebenssituation</p>
                    <ul>
                        <li>Keine</li>
                    </ul>
                </div>
            </div>

            <div class="popin" style="animation-delay: 0.06s; margin-top: 16px">
                <div class="row">
                    <div class="col-6">
                        <form>
                            <div ng-show="plans.title" class="mb-2 popin" ng-animate="'popin'">
                                <button type="submit" class="btn primary-color" ng-click="add.plans()">Speichern</button>
                                <button type="button" class="btn primary-color" ng-click="plans=[]">Verwerfen</button>
                            </div>
                            <input type="text" class="form-control mb-2" ng-model="plans.title" placeholder="Ihre Ziele und Wünsche"/>
                            <div ng-show="plans.title" class="popin-reverse" style="animation-duration: 0.35s" ng-animate="'popin-reverse'">
                                <div class="row mb-2">
                                    <div class="col">
                                        <input type="number" class="form-control" ng-model="plans.amount" placeholder="Betrag"/>
                                    </div>
                                    <div class="col">
                                        <input type="month" class="form-control" ng-model="plans.timestamp"/>
                                    </div>
                                </div>
                                <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3" ng-model="plans.text" placeholder="Notiz"></textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col"
                         ng-class="{'cardtimeselect': getMonthDiff <= 36 && plans.title}">
                        <p>Kurzfristig (Bis 3 Jahre)</p>
                        <div ng-repeat="plans in master.plans track by $index"
                             class="items mb-2"
                             ng-click="edit.plans($index)"
                             ng-if="plans.time==0">
                            <div class="title">{{plans.title}}</div>
                            <div>{{plans.amount | currency:"EUR":0}}</div>
                            <div class="text popin">
                                <div>{{plans.text}}</div>
                                <div>{{plans.timestamp}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         ng-class="{'cardtimeselect': getMonthDiff > 36 && getMonthDiff <= 84 && plans.title}">
                        <p>Mittelfristig (Bis 7 Jahre)</p>
                        <div ng-repeat="plans in master.plans track by $index"
                             class="items mb-2"
                             ng-click="edit.plans($index)"
                             ng-if="plans.time==1">
                            <div class="title">{{plans.title}}</div>
                            <div>{{plans.amount | currency:"EUR":0}}</div>
                            <div class="text popin">
                                <div>{{plans.text}}</div>
                                <div>{{plans.timestamp}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         ng-class="{'cardtimeselect': getMonthDiff > 84 && plans.title}">
                        <p>Langfristig (Ab 7 Jahren)</p>
                        <div ng-repeat="plans in master.plans track by $index"
                             class="items mb-2"
                             ng-click="edit.plans($index)"
                             ng-if="plans.time==2">
                            <div class="title">{{plans.title}}</div>
                            <div>{{plans.amount | currency:"EUR":0}}</div>
                            <div class="text popin">
                                <div>{{plans.text}}</div>
                                <div>{{plans.timestamp}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">Vorschlag aus der KI</div>
                </div>

                {{master.plans}}
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn primary-color">Save changes</button>
            </div>
        </div>
    </div>
</div>