<style>
    .plans-form{
        background: rgb(209, 209, 255);
        padding: 12px;
        border-radius: 12px;
    }
</style>
<div class="container animation" style="padding-top: 16px">
    <div class="row">
        <div class="col-8">

            <h1><span style="opacity: 0.5">Ihre</span> Ziele und Pläne</h1>
            <h4 style="font-weight: 400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
            <div class="plans-form mb-3" style="display: none">
                <div class="input-group">
                    <select class="form-select" aria-label="Default select example" ng-model="plans.range">
                        <option value="short">short</option>
                        <option value="mid">mid</option>
                        <option value="long">long</option>
                    </select>
                    <input type="number" class="form-control" placeholder="Betrag" ng-model="plans.amount">
                    <button class="btn btn-primary" ng-click="addplans()">Save</button>
                </div>
                <small>Notizen</small>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" ng-model="plans.text"></textarea>
            </div>

            <div class="card card-filled mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <span>short term</span>
                    </h5>
                    <div class="card-text">
                        <table class="table" style="width: 100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Betrag</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="plans in master.plans | filter: {'range':'short'}">
                                <td>{{plans.text}}</td>
                                <td align="right"
                                    ng-click="short-$index = true"
                                    class="short-{{$index}}">
                                    <div>
                                        <input class="form-control"/>
                                        <button class="btn btn-primary"
                                                ng-click="edit($index,'amount')">ok</button>
                                    </div>
                                    <span>{{plans.amount}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-filled mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <span>mid term</span>
                    </h5>
                    <div class="card-text">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="100%"></th>
                                <th>Betrag</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="planm in master.plans | filter:{'range':'mid'}">
                                <td>{{planm.text}}</td>
                                <td align="right">{{planm.amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-filled mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <span>long term</span>
                    </h5>
                    <div class="card-text">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="100%"></th>
                                <th>Betrag</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="planl in master.plans | filter:{'range':'long'}">
                                <td>{{planl.text}}</td>
                                <td align="right">{{planl.amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr/>

            <div>
                (Gewichtung Liquidität/Sicherheit/rendite?)
            </div>
        </div>

        <div class="col">

            <div style="background: #dedef7;border-radius: 12px; margin-bottom: 8px">

                <div style="background: #ebebfa;border-radius: 12px;margin-bottom: 8px">
                    <div style="background: #f7f7fd;padding: 12px;border-radius: 12px">
                        <div style="display: inline-flex; width: 100%">
                            <button class="btn fab round small" style="margin-right: 8px;background: #a29bfe"><span class="material-symbols-sharp">add</span></button>
                            <div style="line-height: 40px">Vermögen bei der Santander Bank</div>
                        </div>
                        <table class="table" ng-show="master.data.lists.length > 0">
                            <thead>
                            <tr>
                                <th width="100%">Konto</th>
                                <th align="right">Betrag</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="list in master.data.lists">
                                <td>{{list.type}}</td>
                                <td align="right">{{list.amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="padding: 12px">
                        <div style="display: inline-flex; width: 100%">
                            <button class="btn fab round small" style="margin-right: 8px;background: #a29bfe"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><span class="material-symbols-sharp">add</span></button>
                            <div style="line-height: 40px">Vermögen außerhalb der Santander Bank</div>
                        </div>
                        <table class="table" ng-show="master.data.assets.length > 0">
                            <thead>
                            <tr>
                                <th width="100%">Konto</th>
                                <th align="right">Betrag</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="asset in master.data.assets">
                                <td>{{asset.type}}</td>
                                <td align="right">{{asset.amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="padding: 12px">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Summe Gesamt</td>
                            <td align="right">{{master.listsum  + master.assetsum}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="background: #e2e2e2;padding: 12px;border-radius: 12px; margin-bottom: 8px;">
                <div style="display: inline-flex; width: 100%">
                    <button class="btn fab round small" ng-click="addImmo()" style="margin-right: 8px;background: #a29bfe"><span class="material-symbols-sharp">add</span></button>
                    <div style="line-height: 40px" ng-hide="showAddImmo || master.property.length>0">Keine Immobilien vorhanden</div>
                    <div style="line-height: 40px" ng-show="!showAddImmo && master.property.length>0">weitere Hinzufügen</div>
                    <input class="form-control" style="background: transparent; width: 100%;" ng-model="addproperty" ng-show="showAddImmo">
                </div>
                <hr ng-show="master.property.length > 0"/>
                <table class="table" ng-show="master.property.length > 0">
                    <tbody>
                    <tr ng-repeat="x in master.property">
                        <td>{{x.title}}</td>
                        <td align="right">{{x.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="background: #f2f2f2;padding: 12px;border-radius: 12px; margin-bottom: 8px;">
                <div style="display: inline-flex; width: 100%">
                    <button class="btn fab round small" style="margin-right: 8px;background: #a29bfe"><span class="material-symbols-sharp">add</span></button>
                    <div style="line-height: 40px">Einkommenssituation</div>
                </div>
                <div style="display: none">
                    <div align="mb-2">
                        Einkommenssituation (Überschuss: {{customer.income - customer.outcome}})
                    </div>
                    <input type="text" class="form-control" ng-model="customer.work" placeholder="Beruf">
                    <input type="number" class="form-control" ng-model="customer.income" placeholder="Einkommen">
                    <input type="number" class="form-control" ng-model="customer.outcome" placeholder="Ausgaben">
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                   <input class="form-control" id="floatingInput" placeholder="0,00" ng-model="data.assets.text"/>
                   <label for="floatingInput">Text</label>
                </div>
                <div class="form-floating">
                   <input class="form-control" id="floatingInput2" placeholder="0,00" ng-model="data.assets.amount"/>
                   <label for="floatingInput2">Betrag</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        ng-click="adddata1()"
                        data-bs-dismiss="modal" aria-label="Close">Save changes</button>
            </div>
        </div>
    </div>
</div>