<div class="container h-100 popin">
    <div class="row align-items-center h-100">
        <div class="col">
            <div class="row" style="background: var(--secondary-color-95)">
                <div class="col">
                    <div>
                        <a href="" ng-click="getRisk('./wphg-invalid.json')">nicht aktuell</a> |
                        <a href="" ng-click="getRisk('./wphg-valid-c2.json')">aktuell c2</a> |
                        <a href="" ng-click="getRisk('./wphg-valid-c3.json')">aktuell c3</a>
                    </div>
                    <div ng-hide="risk.valid">
                        <span class="material-symbols-sharp text-danger">warning</span>
                        Profil muss aktualisiert werden
                    </div>
                    <div ng-show="risk.valid">
                        <span class="material-symbols-sharp text-success">check_circle</span>
                        Profil aktuell
                        <div style="color: #999">Anlageklasse: {{risk.class}}</div>
                        {{risk}}
                    </div>
                    <div>
                        <a href="../wphg/#!/customer/ID1" target="_blank">Wechsel zu WpHG</a><br/>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row" ng-show="risk.valid">
                <div class="col">
                    <b>Vermögensverteilung</b>
                    <ul>
                        <li>benötigte Liquidität: {{kft}}</li>
                        <li>
                            Sicherheit: {{wealthx.secure}}
                            <input type="range" class="form-range" min="0" max="100" value="0" ng-model="wealthx.secure" ng-change="wealthx.rendite = (100-wealthx.secure)">
                        </li>
                        <li>
                            Rendite: {{wealthx.rendite}}
                            <input type="range" class="form-range" min="0" max="100" value="0" ng-model="wealthx.rendite" ng-change="wealthx.secure = (100-wealthx.rendite)">
                        </li>
                    </ul>
                    <hr/>
                </div>
            </div>
            <div class="row" ng-show="risk.valid">
               <div class="col">
                   <div style="color: #999">{{master.wealth.santander + master.wealth.extern | currency:"EUR":0}} | Gesamtvermögen</div>
                   <h4 ng-show="master.wealth.selectAmount>0">{{master.wealth.selectAmount | currency:"EUR":0}} | Vermögen für die Geldanlage</h4>
                   <hr/>
               </div>
            </div>
            <div ng-repeat="account in accountData track by $index" ng-show="risk.valid">
                <div class="item"
                     ng-class="{'active': accountData[$index].active == true }">
                    <input class="form-check-input" type="checkbox"
                           ng-model="accountData[$index].active"
                           ng-click="accountData[$index].selectAmount = account.amount"
                           ng-if="account.typ !== 500">
                    <span class="text-bg-warning" ng-show="account.typ === 300">fällig am {datum}</span>
                    <span class="text-bg-info" ng-hide="account.internal">extern</span>
                    {{account.title}},
                    {{account.amount | currency:"EUR":0}}
                    <input type="number" class="form-control" value="{{account.amount}}" ng-show="account.active" ng-model="accountData[$index].selectAmount"/>
                </div>
                <div ng-repeat="depot in account.data" class="item"
                     ng-class="{'active': depot.sell == true }">

                    <input class="form-check-input" type="checkbox"
                           ng-model="depot.sell"
                           ng-change="depot.selectAmount = (depot.stk * depot.price)"
                           style="margin-left: 16px">

                    <div ng-show="depot.internal" style="display: inline-block">
                        <span class="text-bg-success" ng-show="risk.class >= depot.class">Halten</span>
                        <span class="text-bg-danger" ng-show="risk.class < depot.class">Verkaufen</span>
                    </div>

                    {{depot.title}},
                    {{depot.stk * depot.price | currency:"EUR":0}},
                    <input type="number" class="form-control" ng-if="depot.sell" ng-model="depot.selectAmount"/>
                </div>
            </div>
            <hr/>
            <hr/>
            <div class="footer"></div>
        </div>
    </div>
</div>

<div class="addWealth"></div>
