<div class="container h-100 popin">
    <div class="row align-items-center h-100">
        <div class="col">
            <div>
                <a href="" ng-click="getRisk('./wphg-invalid.json')">nicht aktuell</a> |
                <a href="" ng-click="getRisk('./wphg-valid-c2.json')">RK II</a> |
                <a href="" ng-click="getRisk('./wphg-valid-c3.json')">RK III</a>
                <a href="" ng-click="getRisk('./wphg-valid-c4.json')">RK IV</a>
            </div>
            <div ng-show="risk.valid">
                <h3 style="color: #5f6368">Ihre <span style="color: #000">Anlageklasse</span>: {{risk.class}}</h3>
                <hr/>
            </div>
            {{risk}}
        </div>
        <div class="col fadein" ng-hide="risk.valid">
            <h3 style="color: #5f6368">Bitte legen Sie Ihr <span style="color: #000">Risikoprofil</span> fest.</h3>
            <div>Welcher Anlegertyp sind Sie?</div>
            <hr/>
            <div>
                Portfolios, die zu Ihnen passen: Wir bieten unterschiedliche Anlagestrategien, mit denen Sie Ihre individuellen Ziele erreichen.
            </div>
        </div>
        <div class="col fadein" ng-show="risk.valid">
            <table class="table mt-2">
                <thead>
                <tr>
                    <td>Ihr Portfolio</td>
                    <td align="right"><b>{{master.wealth.santander + master.wealth.extern | currency:"EUR":0}}</b></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accountData track by $index">
                    <td>
                        <span class="text-bg-info" ng-hide="account.internal">extern</span>
                        <span class="text-bg-warning" ng-show="account.typ === 300">fällig am {datum}</span>
                        {{account.title}}
                        <a href="" ng-hide="account.internal"
                           data-bs-toggle="modal"
                           data-bs-target="#exampleModal"
                           ng-click="editWealth($index)">edit</a>
                    </td>
                    <td align="right">{{account.amount | currency:"EUR":0}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
