<div class="container h-100 popin">
    <div class="row align-items-center h-100">
        <div class="col">
            <div>
                <input class="form-control" placeholder="Ihre Ziele und Wünsche" ng-model="plans.title"/>
                <div ng-show="plans.title"
                class="fadein" style="background: var(--primary-color-90)">
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" rows="3" ng-model="plans.text" placeholder="Notiz"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group fadein" ng-show="!showSlide">
                                <input type="number" class="form-control" ng-model="plans.amount" placeholder="Betrag"/>
                                <input type="month" class="form-control" ng-model="plans.event"/>
                                <button type="button" class="btn secondary-color" style="min-width: 58px" ng-click="showSlide=true">
                                    <span class="material-symbols-sharp">tune</span>
                                </button>
                                <button type="button" class="btn primary-color" ng-click="addPlans(plans)">Speichern</button>
                            </div>
                            <div class="fadein" ng-show="showSlide" style="padding: 8px 16px">
                                {{plans.eventSlide}} Monate, {{(plans.eventSlide/12).toFixed(0)}} Jahre
                                <input type="range" class="slider" min="0" max="96" ng-model="plans.eventSlide" ng-mouseup="showSlide=false;addMonths()">
                                <input type="range" class="slider" min="0" max="2" value="0" ng-model="plans.sub" ng-mouseup="showSlide=false" style="display: none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div style="display: grid;column-gap: 8px;row-gap: 8px;grid-template-columns: 1fr">
                <div class="plansitem"
                     ng-repeat="pl in master.plans | orderBy: 'event' track by $index">
                </div>
                <div class="plansitem2" style="background: #f2f2f2; padding: 8px 16px">
                    <div>unverteiltes Vermögen für langfristige Ziele</div>
                    <h5>{{master.wealth.santander + master.wealth.extern - master.wealth.plans | currency:"EUR":0}}</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Ihr Portfolio</h4>
            <hr/>
            <div style="height:20vh" >
                <canvas id="myChart" style="margin-left: auto; margin-right: auto"></canvas>
            </div>
            <hr/>
            <table class="table">
                <tr ng-repeat="account in accountData track by $index">
                    <td>
                        <span class="text-bg-info" ng-hide="account.internal">extern</span>
                        <span class="text-bg-warning" ng-show="account.typ === 300">fällig am {datum}</span>
                        {{account.title}}
                    </td>
                    <td align="right">{{account.amount | currency:"EUR":0}}</td>
                </tr>
            </table>
            <a ng-repeat="acn in navActions"
               class="btn fab fab-menu"
               data-bs-toggle="modal"
               data-bs-target="#exampleModal"
               style="background: var(--secondary-color-40);color: #FFF">
                <span class="material-symbols-sharp">add</span>
                neue Gelder
            </a>
        </div>
    </div>
</div>

<div class="addWealth"></div>